body {
 background-image:  url("Finale_Champions.jpg");
 background-repeat: no-repeat;
 background-size: cover; 
 background-position: center center;
 background-attachment: fixed;
}
h1 {
 text-align: center;
 font-size: 100px;
 color: white;
}
h2
{
 text-align: center;
 font-size: 50px;
 color: black;
 font-family: Cursive,"Lucida Handwriting";
}
