body {
 background-image:  url("Finale_Champions.png");
 background-repeat: no-repeat;
 background-size: cover; 
 background-position: center center;
 background-attachment: fixed;
}
h1 {
 position: top;
 text-align: center;
 font-size: 10vw;
 color: white;
 text-shadow: 10px 10px 50px rgba(0,0,0,0.6);
 margin: 0;
}
h2
{
 text-align: center;
 font-size: 5vw;
 color: black;
 font-style: oblique;
 margin: 0;
}
p
{
    font-style: italic;
    font-weight: bolder;
    font-size: 50 px;
        margin: 5vw;
        text-align: justify;
        border: 2px solid black ;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.452);
}

div.left {
    position: fixed;
    cursor:pointer;
    left: 20vw;
  }
  div.left:hover
  {
    transform: scale(1.1);
  }
  div.right {
    position: fixed;
    cursor:pointer;
    right: 20vw;
  }
  div.right:hover
  {
    transform: scale(1.1);
  }
