body {
 background-image:  url("Finale_Champions_v2.jpg");
 background-repeat: no-repeat;
 background-size: cover; 
 background-position: center center;
 background-attachment: fixed;
}
/*h1 {
 font-size: 300px;
 color: white;
}
*/
